#div1 {
    font-size:48px;
}

body {
    background-color: #721bc4;
    font-family: "Times New Roman", sans-serif; }

h1 {
    background-color: #a666e3;
    text-shadow:5px 5px 5px  #dfd2ec;
    text-align:center;}

canvas{
    animation: mymove 5s infinite;
    border: 5px solid blue;
    border-style: dotted;
    border-radius: 15px 50px; }

@keyframes mymove {
    50% { box-shadow: 10px 20px 30px blue;}
    }

h3 {
    font-family: "Times New Roman", sans-serif;
}